-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: kms_gestion
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `achats`
--

LOCK TABLES `achats` WRITE;
/*!40000 ALTER TABLE `achats` DISABLE KEYS */;
/*!40000 ALTER TABLE `achats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `achats_lignes`
--

LOCK TABLES `achats_lignes` WRITE;
/*!40000 ALTER TABLE `achats_lignes` DISABLE KEYS */;
/*!40000 ALTER TABLE `achats_lignes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `audit_log`
--

LOCK TABLES `audit_log` WRITE;
/*!40000 ALTER TABLE `audit_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `blocages_ip`
--

LOCK TABLES `blocages_ip` WRITE;
/*!40000 ALTER TABLE `blocages_ip` DISABLE KEYS */;
/*!40000 ALTER TABLE `blocages_ip` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `bons_livraison`
--

LOCK TABLES `bons_livraison` WRITE;
/*!40000 ALTER TABLE `bons_livraison` DISABLE KEYS */;
/*!40000 ALTER TABLE `bons_livraison` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `bons_livraison_lignes`
--

LOCK TABLES `bons_livraison_lignes` WRITE;
/*!40000 ALTER TABLE `bons_livraison_lignes` DISABLE KEYS */;
/*!40000 ALTER TABLE `bons_livraison_lignes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `caisse_journal`
--

LOCK TABLES `caisse_journal` WRITE;
/*!40000 ALTER TABLE `caisse_journal` DISABLE KEYS */;
/*!40000 ALTER TABLE `caisse_journal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `canaux_vente`
--

LOCK TABLES `canaux_vente` WRITE;
/*!40000 ALTER TABLE `canaux_vente` DISABLE KEYS */;
INSERT INTO `canaux_vente` VALUES (1,'SHOWROOM','Vente showroom'),(2,'TERRAIN','Vente terrain'),(3,'DIGITAL','Vente digital / en ligne'),(4,'HOTEL','Vente li├®e ├® l\'h├┤tel'),(5,'FORMATION','Vente li├®e aux formations');
/*!40000 ALTER TABLE `canaux_vente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `catalogue_categories`
--

LOCK TABLES `catalogue_categories` WRITE;
/*!40000 ALTER TABLE `catalogue_categories` DISABLE KEYS */;
INSERT INTO `catalogue_categories` VALUES (19,'Panneaux & Contreplaqu├®s','panneaux',1,1,'2025-12-12 23:53:33','2025-12-13 19:28:47'),(20,'Machines & Outils','machines',1,2,'2025-12-12 23:53:33','2025-12-12 23:53:33'),(21,'Quincaillerie','quincaillerie',1,3,'2025-12-12 23:53:33','2025-12-12 23:53:33'),(22,'Accessoires Menuiserie','accessoires',1,4,'2025-12-12 23:53:33','2025-12-12 23:53:33'),(23,'Bois Brut','bois-brut',1,5,'2025-12-12 23:53:33','2025-12-12 23:53:33'),(24,'Finitions & Vernis','finitions',1,6,'2025-12-12 23:53:33','2025-12-12 23:53:33');
/*!40000 ALTER TABLE `catalogue_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `catalogue_produits`
--

LOCK TABLES `catalogue_produits` WRITE;
/*!40000 ALTER TABLE `catalogue_produits` DISABLE KEYS */;
/*!40000 ALTER TABLE `catalogue_produits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `chambres`
--

LOCK TABLES `chambres` WRITE;
/*!40000 ALTER TABLE `chambres` DISABLE KEYS */;
INSERT INTO `chambres` VALUES (1,'CH-101','Chambre standard lit double',20000.00,1),(2,'APP-201','Appartement meubl├® 2 pi├®ces',35000.00,1);
/*!40000 ALTER TABLE `chambres` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `clients`
--

LOCK TABLES `clients` WRITE;
/*!40000 ALTER TABLE `clients` DISABLE KEYS */;
/*!40000 ALTER TABLE `clients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `compta_comptes`
--

LOCK TABLES `compta_comptes` WRITE;
/*!40000 ALTER TABLE `compta_comptes` DISABLE KEYS */;
/*!40000 ALTER TABLE `compta_comptes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `compta_ecritures`
--

LOCK TABLES `compta_ecritures` WRITE;
/*!40000 ALTER TABLE `compta_ecritures` DISABLE KEYS */;
/*!40000 ALTER TABLE `compta_ecritures` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `compta_exercices`
--

LOCK TABLES `compta_exercices` WRITE;
/*!40000 ALTER TABLE `compta_exercices` DISABLE KEYS */;
INSERT INTO `compta_exercices` VALUES (1,2024,'2024-01-01',NULL,0,'Exercice 2024','2025-12-10 13:32:46','2025-12-10 13:32:46'),(2,2025,'2025-01-01',NULL,0,'Exercice 2025','2025-12-10 13:32:46','2025-12-10 13:32:46');
/*!40000 ALTER TABLE `compta_exercices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `compta_journaux`
--

LOCK TABLES `compta_journaux` WRITE;
/*!40000 ALTER TABLE `compta_journaux` DISABLE KEYS */;
INSERT INTO `compta_journaux` VALUES (1,'VE','Ventes','VENTE',NULL,NULL,'2025-12-10 13:32:46','2025-12-10 13:32:46'),(2,'AC','Achats','ACHAT',NULL,NULL,'2025-12-10 13:32:46','2025-12-10 13:32:46'),(3,'TR','Tresorerie','TRESORERIE',NULL,NULL,'2025-12-10 13:32:46','2025-12-10 13:32:46'),(4,'OD','Operations Diverses','OPERATION_DIVERSE',NULL,NULL,'2025-12-10 13:32:46','2025-12-10 13:32:46'),(5,'PA','Paie','PAIE',NULL,NULL,'2025-12-10 13:32:46','2025-12-10 13:32:46');
/*!40000 ALTER TABLE `compta_journaux` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `compta_mapping_operations`
--

LOCK TABLES `compta_mapping_operations` WRITE;
/*!40000 ALTER TABLE `compta_mapping_operations` DISABLE KEYS */;
INSERT INTO `compta_mapping_operations` VALUES (1,'VENTE','VENTE_PRODUITS',1,9,10,'Ecritures vente standard',1,'2025-12-10 15:31:08','2025-12-10 15:31:08'),(2,'ACHAT','ACHAT_STOCK',2,12,11,'Ecritures achat standard',1,'2025-12-10 15:46:34','2025-12-10 15:46:34');
/*!40000 ALTER TABLE `compta_mapping_operations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `compta_operations_trace`
--

LOCK TABLES `compta_operations_trace` WRITE;
/*!40000 ALTER TABLE `compta_operations_trace` DISABLE KEYS */;
/*!40000 ALTER TABLE `compta_operations_trace` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `compta_pieces`
--

LOCK TABLES `compta_pieces` WRITE;
/*!40000 ALTER TABLE `compta_pieces` DISABLE KEYS */;
/*!40000 ALTER TABLE `compta_pieces` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `connexions_utilisateur`
--

LOCK TABLES `connexions_utilisateur` WRITE;
/*!40000 ALTER TABLE `connexions_utilisateur` DISABLE KEYS */;
/*!40000 ALTER TABLE `connexions_utilisateur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `conversions_pipeline`
--

LOCK TABLES `conversions_pipeline` WRITE;
/*!40000 ALTER TABLE `conversions_pipeline` DISABLE KEYS */;
/*!40000 ALTER TABLE `conversions_pipeline` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `devis`
--

LOCK TABLES `devis` WRITE;
/*!40000 ALTER TABLE `devis` DISABLE KEYS */;
/*!40000 ALTER TABLE `devis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `devis_lignes`
--

LOCK TABLES `devis_lignes` WRITE;
/*!40000 ALTER TABLE `devis_lignes` DISABLE KEYS */;
/*!40000 ALTER TABLE `devis_lignes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `familles_produits`
--

LOCK TABLES `familles_produits` WRITE;
/*!40000 ALTER TABLE `familles_produits` DISABLE KEYS */;
INSERT INTO `familles_produits` VALUES (1,'Meubles & am├®nagements int├®rieurs'),(2,'Accessoires & quincaillerie de menuiserie'),(3,'Machines & ├®quipements de menuiserie'),(4,'Panneaux & mat├®riaux d├®├®├®agencement'),(65,'Electricite'),(66,'Plomberie'),(67,'Peinture'),(68,'Quincaillerie'),(69,'Construction'),(70,'Panneaux Bois'),(71,'Machines Menuiserie'),(72,'Electromenager'),(73,'Accessoires');
/*!40000 ALTER TABLE `familles_produits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `formations`
--

LOCK TABLES `formations` WRITE;
/*!40000 ALTER TABLE `formations` DISABLE KEYS */;
INSERT INTO `formations` VALUES (1,'Menuiserie moderne','Formation pratique en menuiserie et agencement',150000.00),(2,'Agencement int├®rieur','Techniques d├®?agencement et d├®coration int├®rieure',180000.00);
/*!40000 ALTER TABLE `formations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `fournisseurs`
--

LOCK TABLES `fournisseurs` WRITE;
/*!40000 ALTER TABLE `fournisseurs` DISABLE KEYS */;
INSERT INTO `fournisseurs` VALUES (1,'Fournisseur G├®n├®ral KMS','Service commercial','+237600000001','fournisseur@kms.local','Douala'),(2,'Import Mat├®riaux Pro','Responsable achat','+237600000002','imports@kms.local','Douala - Zone industrielle');
/*!40000 ALTER TABLE `fournisseurs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `inscriptions_formation`
--

LOCK TABLES `inscriptions_formation` WRITE;
/*!40000 ALTER TABLE `inscriptions_formation` DISABLE KEYS */;
/*!40000 ALTER TABLE `inscriptions_formation` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `after_inscription_formation_insert` AFTER INSERT ON `inscriptions_formation` FOR EACH ROW BEGIN
            IF NEW.montant_paye > 0 THEN
                INSERT INTO caisse_journal 
                (date_ecriture, montant, sens, source_type, source_id, utilisateur_id, commentaire)
                VALUES (
                    NEW.date_inscription,
                    NEW.montant_paye,
                    'ENTREE',
                    'inscription_formation',
                    NEW.id,
                    1,
                    CONCAT('Inscription formation #', NEW.id)
                );
            END IF;
        END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `after_inscription_formation_update` AFTER UPDATE ON `inscriptions_formation` FOR EACH ROW BEGIN
            IF NEW.montant_paye != OLD.montant_paye THEN
                
                DELETE FROM caisse_journal 
                WHERE source_type = 'inscription_formation' AND source_id = NEW.id;
                
                
                IF NEW.montant_paye > 0 THEN
                    INSERT INTO caisse_journal 
                    (date_ecriture, montant, sens, source_type, source_id, utilisateur_id, commentaire)
                    VALUES (
                        NEW.date_inscription,
                        NEW.montant_paye,
                        'ENTREE',
                        'inscription_formation',
                        NEW.id,
                        1,
                        CONCAT('Inscription formation #', NEW.id)
                    );
                END IF;
            END IF;
        END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Dumping data for table `journal_caisse`
--

LOCK TABLES `journal_caisse` WRITE;
/*!40000 ALTER TABLE `journal_caisse` DISABLE KEYS */;
/*!40000 ALTER TABLE `journal_caisse` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `kpis_quotidiens`
--

LOCK TABLES `kpis_quotidiens` WRITE;
/*!40000 ALTER TABLE `kpis_quotidiens` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpis_quotidiens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `leads_digital`
--

LOCK TABLES `leads_digital` WRITE;
/*!40000 ALTER TABLE `leads_digital` DISABLE KEYS */;
/*!40000 ALTER TABLE `leads_digital` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `modes_paiement`
--

LOCK TABLES `modes_paiement` WRITE;
/*!40000 ALTER TABLE `modes_paiement` DISABLE KEYS */;
INSERT INTO `modes_paiement` VALUES (1,'CASH','Esp├®ces'),(2,'VIREMENT','Virement bancaire'),(3,'MOBILE_MONEY','Mobile Money'),(4,'CHEQUE','Ch├®que');
/*!40000 ALTER TABLE `modes_paiement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `mouvements_stock_backup_20251209_161710`
--

LOCK TABLES `mouvements_stock_backup_20251209_161710` WRITE;
/*!40000 ALTER TABLE `mouvements_stock_backup_20251209_161710` DISABLE KEYS */;
INSERT INTO `mouvements_stock_backup_20251209_161710` VALUES (1,'2025-11-21','ENTREE',1,22,'ACHAT',55222,NULL,NULL,'2025-11-21 12:50:59'),(3,'2025-11-26','SORTIE',3,3,'VENTE',20,NULL,'Sortie suite ├® la vente V-20251126-170324','2025-11-26 17:04:15'),(4,'2025-11-26','ENTREE',2,25,'ACHAT',2,NULL,'Entr├®e suite ├® l├®?achat AC-20251126-170544','2025-11-26 17:05:44'),(5,'2025-12-02','ENTREE',3,25,'ACHAT',3,NULL,'Entr├®e suite ├® l├®?achat AC-20251202-154014','2025-12-02 15:40:14');
/*!40000 ALTER TABLE `mouvements_stock_backup_20251209_161710` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `objectifs_commerciaux`
--

LOCK TABLES `objectifs_commerciaux` WRITE;
/*!40000 ALTER TABLE `objectifs_commerciaux` DISABLE KEYS */;
/*!40000 ALTER TABLE `objectifs_commerciaux` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `ordres_preparation`
--

LOCK TABLES `ordres_preparation` WRITE;
/*!40000 ALTER TABLE `ordres_preparation` DISABLE KEYS */;
INSERT INTO `ordres_preparation` VALUES (1,'OP-20251213-0001','2025-12-13',89,NULL,105,'VENTE_SHOWROOM',1,'EN_ATTENTE','2025-12-13','NORMALE','',0,NULL,6,NULL,'2025-12-13 21:45:38');
/*!40000 ALTER TABLE `ordres_preparation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `ordres_preparation_lignes`
--

LOCK TABLES `ordres_preparation_lignes` WRITE;
/*!40000 ALTER TABLE `ordres_preparation_lignes` DISABLE KEYS */;
/*!40000 ALTER TABLE `ordres_preparation_lignes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `parametres_securite`
--

LOCK TABLES `parametres_securite` WRITE;
/*!40000 ALTER TABLE `parametres_securite` DISABLE KEYS */;
/*!40000 ALTER TABLE `parametres_securite` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `permissions`
--

LOCK TABLES `permissions` WRITE;
/*!40000 ALTER TABLE `permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `produits`
--

LOCK TABLES `produits` WRITE;
/*!40000 ALTER TABLE `produits` DISABLE KEYS */;
/*!40000 ALTER TABLE `produits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `promotion_produit`
--

LOCK TABLES `promotion_produit` WRITE;
/*!40000 ALTER TABLE `promotion_produit` DISABLE KEYS */;
/*!40000 ALTER TABLE `promotion_produit` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `promotions`
--

LOCK TABLES `promotions` WRITE;
/*!40000 ALTER TABLE `promotions` DISABLE KEYS */;
/*!40000 ALTER TABLE `promotions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `prospections_terrain`
--

LOCK TABLES `prospections_terrain` WRITE;
/*!40000 ALTER TABLE `prospections_terrain` DISABLE KEYS */;
/*!40000 ALTER TABLE `prospections_terrain` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `prospects_formation`
--

LOCK TABLES `prospects_formation` WRITE;
/*!40000 ALTER TABLE `prospects_formation` DISABLE KEYS */;
INSERT INTO `prospects_formation` VALUES (1,'2025-11-01','Anicet Mballa','655585502','facebook','En cours',NULL,1);
/*!40000 ALTER TABLE `prospects_formation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `relances_devis`
--

LOCK TABLES `relances_devis` WRITE;
/*!40000 ALTER TABLE `relances_devis` DISABLE KEYS */;
/*!40000 ALTER TABLE `relances_devis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `rendezvous_terrain`
--

LOCK TABLES `rendezvous_terrain` WRITE;
/*!40000 ALTER TABLE `rendezvous_terrain` DISABLE KEYS */;
/*!40000 ALTER TABLE `rendezvous_terrain` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `reservations_hotel`
--

LOCK TABLES `reservations_hotel` WRITE;
/*!40000 ALTER TABLE `reservations_hotel` DISABLE KEYS */;
/*!40000 ALTER TABLE `reservations_hotel` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `after_reservation_hotel_insert` AFTER INSERT ON `reservations_hotel` FOR EACH ROW BEGIN
            IF NEW.montant_total > 0 THEN
                INSERT INTO caisse_journal 
                (date_ecriture, montant, sens, source_type, source_id, utilisateur_id, commentaire)
                VALUES (
                    NEW.date_reservation,
                    NEW.montant_total,
                    'ENTREE',
                    'reservation_hotel',
                    NEW.id,
                    COALESCE(NEW.concierge_id, 1),
                    CONCAT('R??servation h??tel #', NEW.id)
                );
            END IF;
        END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `after_reservation_hotel_update` AFTER UPDATE ON `reservations_hotel` FOR EACH ROW BEGIN
            IF NEW.montant_total != OLD.montant_total THEN
                
                DELETE FROM caisse_journal 
                WHERE source_type = 'reservation_hotel' AND source_id = NEW.id;
                
                
                IF NEW.montant_total > 0 THEN
                    INSERT INTO caisse_journal 
                    (date_ecriture, montant, sens, source_type, source_id, utilisateur_id, commentaire)
                    VALUES (
                        NEW.date_reservation,
                        NEW.montant_total,
                        'ENTREE',
                        'reservation_hotel',
                        NEW.id,
                        COALESCE(NEW.concierge_id, 1),
                        CONCAT('R??servation h??tel #', NEW.id)
                    );
                END IF;
            END IF;
        END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Dumping data for table `retours_litiges`
--

LOCK TABLES `retours_litiges` WRITE;
/*!40000 ALTER TABLE `retours_litiges` DISABLE KEYS */;
/*!40000 ALTER TABLE `retours_litiges` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `role_permission`
--

LOCK TABLES `role_permission` WRITE;
/*!40000 ALTER TABLE `role_permission` DISABLE KEYS */;
INSERT INTO `role_permission` VALUES (1,1),(1,2),(1,3),(1,4),(1,5),(1,6),(1,7),(1,8),(1,9),(1,10),(1,11),(1,12),(1,13),(1,14),(1,15),(1,16),(1,17),(1,18),(1,19),(1,20),(1,21),(1,22),(1,23),(2,1),(2,5),(2,6),(2,7),(2,8),(2,9),(2,10),(2,11),(2,19),(3,1),(3,5),(3,6),(3,7),(3,8),(3,10),(3,11),(3,19),(4,1),(4,3),(4,10),(5,10),(5,13),(5,14),(5,18),(6,1),(6,5),(6,7),(6,10),(6,13),(6,16),(6,17),(6,18),(6,19),(6,23);
/*!40000 ALTER TABLE `role_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'ADMIN','Administrateur','Acc├®s complet ├® toute l├®├®├®application'),(2,'SHOWROOM','Commercial Showroom','Gestion des visiteurs, devis et ventes en showroom'),(3,'TERRAIN','Commercial Terrain','Prospection terrain, devis et ventes terrain'),(4,'MAGASINIER','Magasinier','Gestion des stocks, livraisons, ruptures'),(5,'CAISSIER','Caissier','Journal de caisse et encaissements'),(6,'DIRECTION','Direction','Consultation des reportings et indicateurs globaux');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `ruptures_signalees`
--

LOCK TABLES `ruptures_signalees` WRITE;
/*!40000 ALTER TABLE `ruptures_signalees` DISABLE KEYS */;
/*!40000 ALTER TABLE `ruptures_signalees` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `ruptures_stock`
--

LOCK TABLES `ruptures_stock` WRITE;
/*!40000 ALTER TABLE `ruptures_stock` DISABLE KEYS */;
/*!40000 ALTER TABLE `ruptures_stock` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `satisfaction_clients`
--

LOCK TABLES `satisfaction_clients` WRITE;
/*!40000 ALTER TABLE `satisfaction_clients` DISABLE KEYS */;
INSERT INTO `satisfaction_clients` VALUES (1,'2025-11-19',NULL,'apprenant','FORMATION',4,'',1),(2,'2025-11-20',4,'Client H├®tel Test','FORMATION',2,'grincheux et de├®u',1);
/*!40000 ALTER TABLE `satisfaction_clients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `sessions_actives`
--

LOCK TABLES `sessions_actives` WRITE;
/*!40000 ALTER TABLE `sessions_actives` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions_actives` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `sms_2fa_codes`
--

LOCK TABLES `sms_2fa_codes` WRITE;
/*!40000 ALTER TABLE `sms_2fa_codes` DISABLE KEYS */;
/*!40000 ALTER TABLE `sms_2fa_codes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `sms_tracking`
--

LOCK TABLES `sms_tracking` WRITE;
/*!40000 ALTER TABLE `sms_tracking` DISABLE KEYS */;
/*!40000 ALTER TABLE `sms_tracking` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `sous_categories_produits`
--

LOCK TABLES `sous_categories_produits` WRITE;
/*!40000 ALTER TABLE `sous_categories_produits` DISABLE KEYS */;
INSERT INTO `sous_categories_produits` VALUES (1,1,'Chambres ├® coucher'),(2,1,'Salons'),(3,2,'Quincaillerie standard'),(4,3,'Machines de d├®coupe'),(5,4,'Panneaux m├®lamin├®s');
/*!40000 ALTER TABLE `sous_categories_produits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `stocks_mouvements`
--

LOCK TABLES `stocks_mouvements` WRITE;
/*!40000 ALTER TABLE `stocks_mouvements` DISABLE KEYS */;
/*!40000 ALTER TABLE `stocks_mouvements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tentatives_connexion`
--

LOCK TABLES `tentatives_connexion` WRITE;
/*!40000 ALTER TABLE `tentatives_connexion` DISABLE KEYS */;
/*!40000 ALTER TABLE `tentatives_connexion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `types_client`
--

LOCK TABLES `types_client` WRITE;
/*!40000 ALTER TABLE `types_client` DISABLE KEYS */;
INSERT INTO `types_client` VALUES (1,'SHOWROOM','Client / prospect showroom'),(2,'TERRAIN','Client / prospect terrain'),(3,'DIGITAL','Client issu du digital (r├®seaux sociaux, site, CRM)'),(4,'HOTEL','Client h├®bergement / h├┤tel'),(5,'FORMATION','Apprenant / client formation');
/*!40000 ALTER TABLE `types_client` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `upsell_hotel`
--

LOCK TABLES `upsell_hotel` WRITE;
/*!40000 ALTER TABLE `upsell_hotel` DISABLE KEYS */;
/*!40000 ALTER TABLE `upsell_hotel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `utilisateur_role`
--

LOCK TABLES `utilisateur_role` WRITE;
/*!40000 ALTER TABLE `utilisateur_role` DISABLE KEYS */;
INSERT INTO `utilisateur_role` VALUES (1,1),(2,1),(3,2),(4,2),(5,3),(6,3),(7,4),(8,4),(9,5),(10,5),(11,6),(12,6),(13,2),(13,3),(13,4);
/*!40000 ALTER TABLE `utilisateur_role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `utilisateurs`
--

LOCK TABLES `utilisateurs` WRITE;
/*!40000 ALTER TABLE `utilisateurs` DISABLE KEYS */;
/*!40000 ALTER TABLE `utilisateurs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `utilisateurs_2fa`
--

LOCK TABLES `utilisateurs_2fa` WRITE;
/*!40000 ALTER TABLE `utilisateurs_2fa` DISABLE KEYS */;
INSERT INTO `utilisateurs_2fa` VALUES (1,1,'',1,'2025-12-13 13:17:56',NULL,'EMAIL',NULL,'peghiembouoromial@gmail.com','2025-12-13 13:17:56','totp',NULL);
/*!40000 ALTER TABLE `utilisateurs_2fa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `utilisateurs_2fa_recovery`
--

LOCK TABLES `utilisateurs_2fa_recovery` WRITE;
/*!40000 ALTER TABLE `utilisateurs_2fa_recovery` DISABLE KEYS */;
/*!40000 ALTER TABLE `utilisateurs_2fa_recovery` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `ventes`
--

LOCK TABLES `ventes` WRITE;
/*!40000 ALTER TABLE `ventes` DISABLE KEYS */;
/*!40000 ALTER TABLE `ventes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `ventes_lignes`
--

LOCK TABLES `ventes_lignes` WRITE;
/*!40000 ALTER TABLE `ventes_lignes` DISABLE KEYS */;
/*!40000 ALTER TABLE `ventes_lignes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `visiteurs_hotel`
--

LOCK TABLES `visiteurs_hotel` WRITE;
/*!40000 ALTER TABLE `visiteurs_hotel` DISABLE KEYS */;
/*!40000 ALTER TABLE `visiteurs_hotel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `visiteurs_showroom`
--

LOCK TABLES `visiteurs_showroom` WRITE;
/*!40000 ALTER TABLE `visiteurs_showroom` DISABLE KEYS */;
INSERT INTO `visiteurs_showroom` VALUES (1,'2025-12-13','MR tsimi','657882566','Il voulait un meuble Tv','Autre',NULL,1,0,0,NULL),(2,'2025-12-13','Janvier Soh','233567555',NULL,'Autre',105,1,0,1,'2025-12-13');
/*!40000 ALTER TABLE `visiteurs_showroom` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-13 23:46:10
